<a href="https://colab.research.google.com/github/ABHAYB642/Regression/blob/main/Regression_model_Abhay_Biramane.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**ABHAY** **BIRAMANE**

# Regression model

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/Fish.csv')

In [ ]:
df.head()

   Category Species  Weight   Height   Width  Length1  Length2  Length3
0         1   Bream   242.0  11.5200  4.0200     23.2     25.4     30.0
1         1   Bream   290.0  12.4800  4.3056     24.0     26.3     31.2
2         1   Bream   340.0  12.3778  4.6961     23.9     26.5     31.1
3         1   Bream   363.0  12.7300  4.4555     26.3     29.0     33.5
4         1   Bream   430.0  12.4440  5.1340     26.5     29.0     34.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  159 non-null    int64
 1   Species   159 non-null    object
 2   Weight    159 non-null    float64
 3   Height    159 non-null    float64
 4   Width     159 non-null    float64
 5   Length1   159 non-null    float64
 6   Length2   159 non-null    float64
 7   Length3   159 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 10.1+ KB

In [ ]:
df.describe()

,Category,Weight,Height,Width,Length1,Length2,Length3
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,3.264151,398.326415,8.970994,4.417486,26.247170,28.415723,31.227044
std,1.704249,357.978317,4.286208,1.685804,9.996441,10.716328,11.610246
min,1.000000,0.000000,1.728400,1.047600,7.500000,8.400000,8.800000
25%,2.000000,120.000000,5.944800,3.385650,19.050000,21.000000,23.150000
50%,3.000000,273.000000,7.786000,4.248500,25.200000,27.300000,29.400000
75%,4.500000,650.000000,12.365900,5.584500,32.700000,35.500000,39.650000
max,7.000000,1650.000000,18.957000,8.142000,59.000000,63.400000,68.000000

In [ ]:
df.shape

(159, 8)

In [ ]:
df.columns

Index(['Category', 'Species', 'Weight', 'Height', 'Width', 'Length1',
       'Length2', 'Length3'],
      dtype='object')

# Define y

In [ ]:
y=df['Weight']

In [ ]:
y.shape

(159,)

In [ ]:
y

0      242.0
1      290.0
2      340.0
3      363.0
4      430.0
       ...
154     12.2
155     13.4
156     12.2
157     19.7
158     19.9
Name: Weight, Length: 159, dtype: float64

In [ ]:
x=df[['Height','Weight','Length1','Length2','Length3']]

In [ ]:
x.shape

(159, 5)

In [ ]:
x

      Height  Weight  Length1  Length2  Length3
0    11.5200   242.0     23.2     25.4     30.0
1    12.4800   290.0     24.0     26.3     31.2
2    12.3778   340.0     23.9     26.5     31.1
3    12.7300   363.0     26.3     29.0     33.5
4    12.4440   430.0     26.5     29.0     34.0
..       ...     ...      ...      ...      ...
154   2.0904    12.2     11.5     12.2     13.4
155   2.4300    13.4     11.7     12.4     13.5
156   2.2770    12.2     12.1     13.0     13.8
157   2.8728    19.7     13.2     14.3     15.2
158   2.9322    19.9     13.8     15.0     16.2

[159 rows x 5 columns]

# Get train Test split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=2529)

In [ ]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((111, 5), (48, 5), (111,), (48,))

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model=LinearRegression()

In [ ]:
model.fit(x_train, y_train)

LinearRegression()

# Get model prediction

In [ ]:
y_pred=model.predict(x_test)

In [ ]:
y_pred.shape

(48,)

In [ ]:
y_pred

array([ 500. ,  390. ,   85. ,  567. ,  130. ,  169. ,  290. ,  260. ,
        306. ,    9.8,    9.8,  320. ,  110. ,  820. ,  300. ,  197. ,
        600. ,  140. ,  430. ,   80. ,  120. ,   40. ,  345. ,  900. ,
        955. ,    7.5,  272. ,  850. ,  290. ,  650. ,  500. ,  500. ,
        300. ,  840. ,    7. , 1100. ,  900. ,   19.9,  180. ,  950. ,
        680. , 1000. ,  685. ,  700. ,  514. ,  218. ,  475. ,   19.7])

# Get model Evaluation

In [ ]:
from sklearn.metrics import mean_squared_error, mean_absolute_percentage_error, r2_score

In [ ]:
from sklearn.metrics import mean_absolute_error

In [ ]:
mean_squared_error(y_test,y_pred)

5.1685657037412736e-26

In [ ]:
mean_absolute_percentage_error(y_test,y_pred)

3.3584840347607816e-15

In [ ]:
r2_score(y_test,y_pred)

1.0

# Get future predictions

In [ ]:
df_new=df.sample(1)

In [ ]:
df_new

    Category Species  Weight  Height   Width  Length1  Length2  Length3
18         1   Bream   610.0  15.633  5.1338     30.9     33.5     38.6

In [ ]:
x_new=df_new[['Height','Weight','Length1','Length2','Length3']]

In [ ]:
x_new.shape

(1, 5)

In [ ]:
y_pred_new=model.predict(x_new)

In [ ]:
y_pred_new

array([610.])